<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
 th:replace="~{layout/comm-layout :: commLayout(~{this::head}, ~{::main})}">
<head>
    <!-- 해당하는 페이지의 css나 js를 아래에 적용 -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
 	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
	<script type="text/javascript">
	  const IMP = window.IMP; // 생략 가능
	  IMP.init("imp34100810"); // 예: imp00000000a
	  
	  
	  function btnPgClicked(){
		  //1.페이지에서 결제정보 수집하는 방법 : 구매자 정보,상품정보,배송
		
		var checkedItems=$(".cb:checked");
		//.siblings(".item-no");
		
		var title=$(checkedItems[0]).parent().siblings(".title").val();
		if(checkedItems.length>1){
			title +=" 외 "+(checkedItems.length-1)+"건";
		}					
		//var quantity;
		var payPrice=0;
		console.log("length: "+checkedItems.length);
		
	  	$.each(checkedItems, function(index, item){
	  		payPrice += parseInt($(item).parent().siblings(".payPrice").val());
	  	});
	  	
	  	var data={
	  		merchant_uid: "ORD_"+new Date().getTime(),
	  		name: title,
	  		amount: payPrice,
	  		buyer_email: $("#user-email").val(),
	  		buyer_name: $("#user-name").val(),
	  		buyer_tel: "",
			buyer_addr: "",
			buyer_postcode: ""
	  	};
	  	console.log(data);
	  	requestPay(data);
	  }
	  
	  //iamport 결제창 띄우기
	  function requestPay(data) {
		    IMP.request_pay({
		      pg: "html5_inicis",
		      pay_method: "card",
		      merchant_uid: data.merchant_uid,   // 주문번호
		      name: data.name,
		      amount: data.amount,                         // 숫자 타입
		      buyer_email: data.buyer_email,
		      buyer_name: data.buyer_name,
		      buyer_tel: data.buyer_tel,
		      buyer_addr: data.buyer_addr,
		      buyer_postcode: data.buyer_postcode
		    }, function (rsp) { // callback
		      if (rsp.success) {
		        // 결제 성공 시 로직
		        //DB에반영할 데이터 처리
		        alert("결제가 완료되었습니다.");
		        
		      } else {
		    	alert("결제실패!");
		      }
		    	
		    });
		  }
	</script>
    <script src="/js/daumPostcode.js"></script>
    <link rel="stylesheet" href="/css/commons/common.css">
    <link rel="stylesheet" href="/css/user/order-payment.css">
</head>
<main>
	<h1>메인컨텐츠</h1>
	<div class="order">
		<div class="wrap view-size">
			<p class="page-tit">주문/결제</p>
			<section id="cart">
				<h1>주문/결제</h1>
				<div class="wrap order-content">
					<div class="title_section">
						<ol class="flex between section">
							<li>선택</li>
							<li>상품이미지</li>
							<li>상품정보</li>
							<li>구매수량</li>
							<li>총 주문금액</li>
							<li>배달비</li>
							<li>최종 결제 금액</li>
						</ol>
					</div>
							<ol class="flex between item-info" th:each="dto : ${list}" >
								<li>
									<label class="form_checkbox">
										<input type="checkbox" class="cb"  checked="checked">
										<span class="icon"></span>
									</label>
									<input type="hidden" readonly="readonly" class="item-no"  th:value="${dto.item.gno}" >
									<input type="hidden" readonly="readonly" class="quantity"  th:value="${dto.quantity}" >
									<input type="hidden" readonly="readonly" class="title"  th:value="${dto.item.title}" >
									<input type="hidden" readonly="readonly" class="payPrice"  th:value="${dto.totPrice + dto.item.dPrice}" >
									
								</li>
								<li><img alt="상품목록이미지" th:src="${dto.item.defImgUrl}" style="height: 100px; width: 140px;"></li>
								<li>
									<p th:text="${dto.item.title}">상품명</p>
									<p th:text="${#numbers.formatInteger(dto.item.price , 0 ,'COMMA')}">단가</p>
								</li>
								<li th:text="${dto.quantity}">구매수량</li>
								<li th:text="${#numbers.formatInteger(dto.totPrice , 0 ,'COMMA')}">토탈금액</li>
								<li th:text="${#numbers.formatInteger(dto.item.dPrice , 0 ,'COMMA')}">배송비</li>
								<li th:text="${#numbers.formatInteger(dto.totPrice + dto.item.dPrice , 0 ,'COMMA')}">주문금액<li>
							</ol>
						
					<section id="delivery">
						<h1>배송지정보</h1>
						<div class="wrap del-info">
							<p class="del_title">배송지 선택</p>
							<ul id="menu-d" class="flex">
								<!-- ///////////기본배송지/////////////////////// -->
								<li class="target" onclick="memuDClicked(this)">
									<button type="button" id="base-delivery" >기본배송지</button>
									<div class="disp" id="base-delivery-disp">
										<p>배송지 정보가 존재하지 않습니다.</p>
									</div>
								</li>
								<!-- ///////////신규배송지/////////////////////// -->
								<li onclick="memuDClicked(this)">
									<button type="button" id="new-delivery">신규배송지</button>
									<div class="disp">
										<form id="form-delivery" >
											<dl>
												<dt>수령인</dt>
												<dd>
													<input type="text" name="receiverName">
												</dd>
											</dl>
											<dl>
												<dt>배송지명</dt>
												<dd>
													<input type="text" name="deliveryAddrName">
												</dd>
											</dl>
											<dl>
												<dt>연락처1</dt>
												<dd>
													<input type="text" name="phone1">
												</dd>
											</dl>
											<dl>
												<dt>연락처2</dt>
												<dd>
													<input type="text" name="phone2">
												</dd>
											</dl>
											<dl>
												<dt>배송지 주소</dt>
												<dd>
													<input type="text" id="postcode" name="postcode" placeholder="우편번호">
													<input type="button" class="del-btn" onclick="daumPostcode()" value="우편번호 찾기"><br>
													<input type="text" id="roadAddress" name="roadAddress" placeholder="도로명주소">
													<input type="text" id="jibunAddress" name="jibunAddress" placeholder="지번주소">
													<span id="guide" style="color:#999;display:none"></span>
													<input type="text" id="detailAddress"  name="detailAddress" placeholder="상세주소">
													<input type="text" id="extraAddress" name="extraAddress" placeholder="참고항목">
												</dd>
											</dl>
											<button type="submit" class="del-btn">배송지 등록</button>
										</form>
										<!-- /////////////////////// -->
										<dl>
											<dt>배송메모</dt>
											<dd>
												<input type="text" name="memo">
											</dd>
										</dl>
									</div>
								</li>
								<!-- ///////////배송지목록/////////////////////// -->
								<li onclick="memuDClicked(this)">
									<button type="button" id="btn-delivery-list">배송지 목록</button>
									<div class="disp" id="deliveries">
										
									</div>
								</li>
							</ul>
						</div>
					</section>
					<section>
						<div class="wrap" sec:authorize="isAuthenticated()">
							<input type="hidden" id="user-email" th:value="${#authentication.name}" readonly="readonly">
							<input type="hidden" id="user-name" th:value="${#authentication.principal.nickName}" readonly="readonly">
							<button type="button" id="btn-pg" class="btn-pay" onclick="btnPgClicked()">결제하기</button>
						</div>
					</section>	
				</div>
			</section>
		</div>	
	</div>
</main>
</html>
