@charset "UTF-8";

header>.wrap {
	background-color: rgba(255, 101, 11, 90%);
	color: #fff;
	padding: 30px;
	height: 100vh;
	min-width:200px;
}

header>.wrap a{
	color: #fff;
}

header>.wrap ul>li {
	margin-top: 20px;
}

header>.wrap ul>li dl>dt{
	font-weight: 700;
	color: rgba(255, 255, 255, 60%);
	border-bottom: 0.5px dotted rgba(255, 255, 255, 60%);
	padding: 0.5em 0;
}

header>.wrap ul>li dl>dd{
	font-size: 14px;
	padding: 0.3em 0 0.3em 10px;
}

main>.wrap {
	padding-top: 30px;
	padding-left: 20px;
}

.page {
	font-size: 30px;
	font-weight: bold;
	position: relative;
	top: 10px;
	left: 540px;
}
